h1{
    font-family: serif;
    color: #646464;
    font-size: 3rem;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #f47521;
}

.body-content, .footer-style{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select, input{
    border: 1px #646464;
    border-bottom: 1px solid #646464;
    height: 3rem;
}

button{
    width: 20rem;
    margin-top: 2rem; 
    padding: 1rem 3rem;
    background-color: #fe6700;
    color: white;
    border-radius: 25px;
    border: none;
    margin-bottom: auto;
}

label{
    padding: 2rem 0;
}

hr {
    width: 70vw;
    height: 2px;
    border: none;
    border-bottom: 0.7px solid #646464;
    margin: 2rem 2rem; 
}

p {
    color: #646464;
}

img{
    width: 12rem;
    height: auto;
    padding: 2rem;
}

/* Media queries */

@media (max-width: 640px) and (max-height: 1136px){
    hr{
        width: 70vw;
    }
}
